{% extends 'base.html' %}

{% load static %}

{% block title %}Product Details{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'Product/css/style.css' %}">
{% endblock %}

{% block content %}


<section>
    <div class="container mt-4">
        <div class="row">
            <div class="col-12">
                    <div class="card border border-2 border-black mb-3" style="width: 100%;">
                        <div class="row align-items-center px-3">
                        <div class="col-md-4">
                            <img src="{{ product.image.url }}" class="img-fluid rounded-start m-2" />
                        </div>
                        <div class="col-md-8">
                            <div class="card-body">
                            <h5 class="card-title">
                                {{ product.name }} - {{ product.price }} $
                            </h5>
                            <p class="card-text">{{ product.description | safe }}</p>
                            </div>
                        </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>


{% endblock %}

{% block js %}
{% endblock %}